<section class="mt-main mb-main">
  <div class="grid wide">
    <div class="row">
      <div class="col l-12 m-12 c-12">
        <h3 class="order-detail__message">Thank you. Your order has been received.</h3>
        <div class="order-detail__info">
          <div class="order-detail__box">
            <p>Order number:</p>
            <strong>#3455</strong>
          </div>
          <div class="order-detail__box">
            <p>Date:</p>

            <strong>January 2, 2023</strong>
          </div>
          <div class="order-detail__box">
            <p>Email:</p>
            <strong>voquocan@1243</strong>
          </div>
          <div class="order-detail__box">
            <p>Total:</p>
            <strong>$129</strong>
          </div>
          <div class="order-detail__box">
            <p>Payment method:</p>
            <strong>Cash on delivery</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="divider">
      <i class="fa-thin fa-credit-card"></i>
    </div>
    <div class="row">
      <div class="col l-6 m-12 c-12">
        <div class="order-detail__user">
          <h2 class="checkout-title">
            Billing address
          </h2>
          <table class="order-detail__table">
            <tbody>
              <tr>
                <td>Name:</td>
              </tr>
              <tr>
                <td>Phone:</td>
                <td>0123456789</td>
              </tr>
              <tr>
                <td>Address:</td>
                <td>TP HCM</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>quocan@123 </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col l-6 m-12 c-12">
        <div class="checkout-order">
          <h2 class="checkout-title">
            Order details
          </h2>

          <table class="checkout-table" border="1">
            <tr>
              <th class="checkout-table-bg">Product</th>
              <th class="checkout-table-bg">Subtotal</th>
            </tr>

            <tr>
              <td>
                For 04-08 Ford F150 11th Gen Chrome Housing Amber Corner Headlight Headlamp 05 06 07 Left+Right
                <span class="checkout-bold">
                  × 1
                </span>
              </td>
              <td>$183.44</td>
            </tr>
            <tr>
              <th class="checkout-table-bg">Subtotal</th>
              <td>$229.21</td>
            </tr>
            <tr>
              <th class="checkout-table-bg">Total</th>
              <td>
                <span class="checkout-bold">
                  $229.21
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>