<section class="orders mt-main mb-main">
  <div class="grid wide">
    <table class="orders-table">
      <thead>
        <tr>
          <th>Mã đơn hàng</th>
          <th>Ngày mua</th>
          <th>Trạng thái</th>
          <th>Tổng tiền</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#3455</td>
          <td>January 2, 2023</td>
          <td>Processing</td>
          <td>$160 for 2 items</td>
          <td>
            <button class="btn-order custom-btn btn-3 btn-3--bg-white">
              <span>View</span>
            </button>
          </td>
        </tr>
        <tr>
          <td>#3455</td>
          <td>January 2, 2023</td>
          <td>Processing</td>
          <td>$160 for 2 items</td>
          <td>
            <button class="btn-order custom-btn btn-3 btn-3--bg-white">
              <span>View</span>
            </button>
          </td>
        </tr>
        <tr>
          <td>#3455</td>
          <td>January 2, 2023</td>
          <td>Processing</td>
          <td>$160 for 2 items</td>
          <td>
            <button class="btn-order custom-btn btn-3 btn-3--bg-white">
              <span>View</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>