<section class="about mb-main pd mt-main">
  <div class="grid wide">

    <!-- Info -->
    <div class="row">
      <div class="col l-6 m-12 c-12">
        <h2 class="title large">About MobiMax</h2>
        <p class="description large">
          Quality service. How do we do it?
        </p>
        <div class="space-border"></div>
        <p class="about-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend nunc vitae ante maximus, sit amet
          aliquam metus laoreet. Aliquam vel diam sed purus euismod viverra. Nam convallis, ipsum non pellentesque
          sollicitudin, arcu ipsum fringilla dui, vitae vestibulum massa nunc vitae metus. Vivamus ultrices ex massa,
          sit amet porta augue vestibulum efficitur. Sed maximus egestas interdum.
        </p>
      </div>
      <div class="col l-6 m-12 c-12">
        <img class="about-img" src="/image/banners/about-img-1.jpg" alt="" />
      </div>
    </div>

    <!-- Service -->
    <div class="about-service">
      <div class="row no-gutters">

        <div class="col l-4 m-6 c-12">
          <div class="about-service__inner">
            <span class="about-service__icon">
              <i class="fa-solid fa-truck"></i>
            </span>
            <div class="about-service__content">
              <h3>
                In-Store Pickup</h3>
              <p class="about-description">Buy your parts online and pick them up in-store in 30 minutes</p>
            </div>
          </div>
        </div>

        <div class="col l-4 m-6 c-12">
          <div class="about-service__inner">
            <span class="about-service__icon">
              <i class="fa-solid fa-pallet-box"></i>
            </span>
            <div class="about-service__content">
              <h3>
                Free Shipping Over $25
              </h3>
              <p class="about-description">Receive free standard shipping on orders over $25 (US only).</p>
            </div>
          </div>
        </div>

        <div class="col l-4 m-6 c-12">
          <div class="about-service__inner">
            <span class="about-service__icon">
              <i class="fa-solid fa-percent"></i>
            </span>
            <div class="about-service__content">
              <h3>
                Speed Perks</h3>
              <p class="about-description">Spend $30, get $5 or spend $100, get $20 off your next purchase.</p>
            </div>
          </div>
        </div>

        <div class="col l-4 m-6 c-12">
          <div class="about-service__inner">
            <span class="about-service__icon">
              <i class="fa-solid fa-screwdriver-wrench"></i>
            </span>
            <div class="about-service__content">
              <h3>
                Free In-Store Services</h3>
              <p class="about-description">Free battery installation, check engine light scanning</p>
            </div>
          </div>
        </div>

        <div class="col l-4 m-6 c-12">
          <div class="about-service__inner">
            <span class="about-service__icon">
              <i class="fa-solid fa-recycle"></i>
            </span>
            <div class="about-service__content">
              <h3>
                Oil & Battery Recycling</h3>
              <p class="about-description">Recycle motor oil and gear oil at no charge. Gift card for returning</p>
            </div>
          </div>
        </div>

        <div class="col l-4 m-6 c-12">
          <div class="about-service__inner">
            <span class="about-service__icon">
              <i class="fa-solid fa-map-location-dot"></i>
            </span>
            <div class="about-service__content">
              <h3>
                Store Locator</h3>
              <p class="about-description">Use our store locator to find the closest store near you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Team -->
    <div class="about-team">
      <h2 class="title">MobiMax team</h2>
      <p class="description">Meet the professionals</p>
      <div class="about-team__inner">
        <div class="custom-arrow-slick-prev about-arrow-slick-prev">
          <i class="fa-solid fa-chevron-left"></i>
        </div>
        <div class="custom-arrow-slick-next about-arrow-slick-next">
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="about-team-slick">
          <div class="about-team__item">
            <img class="about-team__img" src="/image/others/person-1.jpg" alt="" />
            <div class="about-team__content">
              <h3 class="about-team__name">Hagen Maria</h3>
              <p class="about-team__job">Sales Manager</p>
              <ul class="about-team__list">
                <li>
                  <i class="fa-brands fa-linkedin-in"></i>
                </li>
                <li>
                  <i class="fa-brands fa-facebook-f"></i>
                </li>
                <li>
                  <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                  <i class="fa-brands fa-twitter"></i>
                </li>
                <li>
                  <i class="fa-brands fa-skype"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="about-team__item">
            <img class="about-team__img" src="/image/others/person-2.jpg" alt="" />
            <div class="about-team__content">
              <h3 class="about-team__name">Hagen Maria</h3>
              <p class="about-team__job">Sales Manager</p>
              <ul class="about-team__list">
                <li>
                  <i class="fa-brands fa-linkedin-in"></i>
                </li>
                <li>
                  <i class="fa-brands fa-facebook-f"></i>
                </li>
                <li>
                  <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                  <i class="fa-brands fa-twitter"></i>
                </li>
                <li>
                  <i class="fa-brands fa-skype"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="about-team__item">
            <img class="about-team__img" src="/image/others/person-3.jpg" alt="" />
            <div class="about-team__content">
              <h3 class="about-team__name">Hagen Maria</h3>
              <p class="about-team__job">Sales Manager</p>
              <ul class="about-team__list">
                <li>
                  <i class="fa-brands fa-linkedin-in"></i>
                </li>
                <li>
                  <i class="fa-brands fa-facebook-f"></i>
                </li>
                <li>
                  <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                  <i class="fa-brands fa-twitter"></i>
                </li>
                <li>
                  <i class="fa-brands fa-skype"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="about-team__item">
            <img class="about-team__img" src="/image/others/person-4.jpg" alt="" />
            <div class="about-team__content">
              <h3 class="about-team__name">Hagen Maria</h3>
              <p class="about-team__job">Sales Manager</p>
              <ul class="about-team__list">
                <li>
                  <i class="fa-brands fa-linkedin-in"></i>
                </li>
                <li>
                  <i class="fa-brands fa-facebook-f"></i>
                </li>
                <li>
                  <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                  <i class="fa-brands fa-twitter"></i>
                </li>
                <li>
                  <i class="fa-brands fa-skype"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="about-team__item">
            <img class="about-team__img" src="/image/others/person-5.jpg" alt="" />
            <div class="about-team__content">
              <h3 class="about-team__name">Hagen Maria</h3>
              <p class="about-team__job">Sales Manager</p>
              <ul class="about-team__list">
                <li>
                  <i class="fa-brands fa-linkedin-in"></i>
                </li>
                <li>
                  <i class="fa-brands fa-facebook-f"></i>
                </li>
                <li>
                  <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                  <i class="fa-brands fa-twitter"></i>
                </li>
                <li>
                  <i class="fa-brands fa-skype"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="about-team__item">
            <img class="about-team__img" src="/image/others/person-6.jpg" alt="" />
            <div class="about-team__content">
              <h3 class="about-team__name">Hagen Maria</h3>
              <p class="about-team__job">Sales Manager</p>
              <ul class="about-team__list">
                <li>
                  <i class="fa-brands fa-linkedin-in"></i>
                </li>
                <li>
                  <i class="fa-brands fa-facebook-f"></i>
                </li>
                <li>
                  <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                  <i class="fa-brands fa-twitter"></i>
                </li>
                <li>
                  <i class="fa-brands fa-skype"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Numbers -->
    <div class="about-number">
      <h2 class="title">MobiMax in numbers</h2>
      <p class="description">2019 most highlighted</p>
      <div class="about-number__container">
        <div class="row">

          <div class="col l-3 m-6 c-12">
            <div class="about-number__inner">
              <div class="about-number__content">
                <div class="about-number__content-value">
                  <span id="about-items-1">875</span>
                  <span>k</span>
                </div>
                <h6 class="about-number__content-title">Items sold</h6>
              </div>
            </div>
          </div>

          <div class="col l-3 m-6 c-12">
            <div class="about-number__inner">
              <div class="about-number__content">
                <div class="about-number__content-value">
                  <span id="about-items-2">18</span>
                  <span>%</span>
                </div>
                <h6 class="about-number__content-title">Market increase</h6>
              </div>
            </div>
          </div>

          <div class="col l-3 m-6 c-12">
            <div class="about-number__inner">
              <div class="about-number__content">
                <div class="about-number__content-value">
                  <span id="about-items-3">200</span>
                  <span>+</span>
                </div>
                <h6 class="about-number__content-title">New employees</h6>
              </div>
            </div>
          </div>

          <div class="col l-3 m-6 c-12">
            <div class="about-number__inner">
              <div class="about-number__content">
                <div class="about-number__content-value">
                  <span id="about-items-4">512</span>
                  <span></span>
                </div>
                <h6 class="about-number__content-title">Brands</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- About-partners -->
    <div class="about-partners">
      <h2 class="title">MobiMax in numbers</h2>
      <p class="description">2019 most highlighted</p>
      <div class="about-partners__container">
        <div class="about-partners__item">
          <img src="/image/partners/brand-1.jpg" alt="" />
          <img src="/image/partners/brand-1-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-2.jpg" alt="" />
          <img src="/image/partners/brand-2-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-3.jpg" alt="" />
          <img src="/image/partners/brand-3-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-4.jpg" alt="" />
          <img src="/image/partners/brand-4-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-5.jpg" alt="" />
          <img src="/image/partners/brand-5-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-6.jpg" alt="" />
          <img src="/image/partners/brand-6-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-7.jpg" alt="" />
          <img src="/image/partners/brand-7-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-8.jpg" alt="" />
          <img src="/image/partners/brand-8-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-9.jpg" alt="" />
          <img src="/image/partners/brand-9-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-10.jpg" alt="" />
          <img src="/image/partners/brand-10-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-11.jpg" alt="" />
          <img src="/image/partners/brand-11-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-12.jpg" alt="" />
          <img src="/image/partners/brand-12-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-13.jpg" alt="" />
          <img src="/image/partners/brand-13-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-14.jpg" alt="" />
          <img src="/image/partners/brand-14-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-15.jpg" alt="" />
          <img src="/image/partners/brand-15-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-16.jpg" alt="" />
          <img src="/image/partners/brand-16-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-17.jpg" alt="" />
          <img src="/image/partners/brand-17-grey.jpg" alt="" />
        </div>
        <div class="about-partners__item">
          <img src="/image/partners/brand-18.jpg" alt="" />
          <img src="/image/partners/brand-18-grey.jpg" alt="" />
        </div>

      </div>
    </div>

  </div>
</section>