<section class="cart mt-main">
  <div class="grid wide">
    <div class="row pd">
      <div class="col l-9 m-12 c-12">
        <div class="cart-info">
          <table border="1px">
            <thead>
              <tr>
                <th></th>
                <th>Hình</th>
                <th>Tên</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="cart-close">
                    <i class="fa-solid fa-xmark"></i>
                  </span>
                </td>
                <td>
                  <a class="cart-link" href="#">
                    <img src="/image/products/product1.jpg" alt="" />
                  </a>
                </td>
                <td>
                  <a class="cart-name" href="#">
                    BDK Massage Grip Car Steering Wheel Cover for Car SUV VAN - Two Tone Color, Odorless, Standard Size

                  </a>
                </td>
                <td>
                  <span class="cart-price">$13.11</span>
                </td>
                <td>
                  <div class="cart-wrap-quantity">
                    <div class="cart-minus hide-on-pc">-</div>
                    <input class="cart-quantity" type="number" value="1" />
                    <div class="cart-plus hide-on-pc">+</div>
                  </div>
                </td>
                <td>
                  <span class="cart-subtotal">$13.11</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="cart-coupon-wrap">
          <input type="text" placeholder="Nhập mã giảm giá" />
          <div>
            <button class="custom-btn btn-3">
              <span>Áp dụng</span>
            </button>
          </div>
        </div>
      </div>

      <div class="col l-3 m-12 c-12">
        <h2 class="cart-total-heading">Tổng số giỏ hàng</h2>
        <div class="cart-total-table">
          <table border="1">
            <tr>
              <th>Tổng phụ</th>
              <td>$190.56</td>
            </tr>
            <tr>
              <th>Tổng</th>
              <td><span class="cart-total-main">$190.56</span></td>
            </tr>
          </table>
          <div class="cart-total-btn">
            <a href="./checkout" class="custom-btn btn-3">
              <span>Tiến hành thanh toán</span>
            </a>
          </div>
        </div>
      </div>

      <div class="cart-empty" style="display: none;">
        <p>Bạn chưa thêm sản phẩm vào giỏ hàng</p> .</p>
        <div>
          <button class="custom-btn btn-3">
            <span>Quay lại cửa hàng</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>