<section class="FAQ mt-main mb-main">
  <div class="grid wide">
    <div class="row pd">

      <div class="col l-3 m-12 c-12">
        <div class="FAQ-left">
          <img src="/image/banners/expert.jpg" alt="" class="FAQ-left__img" />
          <div class="FAQ-left__content">
            <h3 class="title">CÂU HỎI?</h3>
            <b class="description">Các chuyên gia của chúng tôi sẵn sàng trợ giúp</b>
            <div>
              <span class="contact-info__hotline-icon">
                <i class="fa-solid fa-headset"></i>
              </span>
              <div class="contact-info__hotline-content">
                <h3>Gọi cho chúng tôi 24/7!</h3>
                <p>(800) 8001-8588, (0600) 874 548</p>
              </div>
            </div>
          </div>
          <form action="" method="POST" class="form-FAQ" id="form-FAQ">

            <div class="form-group">
              <div class="input-group">
                <input id="name" name="name" placeholder="Tên" type="text" class="form-control" />
                <span class="iconError"><i class="fa-solid fa-triangle-exclamation"></i></span>
              </div>
              <span class="form-message"></span>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input id="email" name="email" placeholder="Email" type="text" class="form-control" />
                <span class="iconError"><i class="fa-solid fa-triangle-exclamation"></i></span>
              </div>
              <span class="form-message"></span>
            </div>

            <div class="form-group">
              <div class="input-group">
                <textarea id="message" placeholder="Viết tin nhắn của bạn" class="form-control form-textarea" cols="30"
                  rows="4"></textarea>
                <span class="iconError"><i class="fa-solid fa-triangle-exclamation"></i></span>
              </div>
              <span class="form-message"></span>
            </div>

            <button class="form-FAQ__btn">Send message</button>
          </form>
        </div>
      </div>

      <div class="col l-9 m-12 c-12">
        <div class="FAQ-right">
          <h2 class="title large">FAQ</h2>
          <p class="description large">Câu hỏi và trả lời</p>
          <div class="space-border small"></div>

          <div class="FAQ-right-toggle active">
            <div class="FAQ-right__wrap-title">
              <h6>LÀM CÁCH NÀO ĐỂ LẤY VÀ QUẢN LÝ HỘP THƯ BƯU ĐIỆN CỦA TÔI?</h6>
              <span><i class="fa-regular fa-angle-down"></i></span>
            </div>
            <div class="FAQ-right__content">
              Tận dụng các framework nhanh nhẹn để cung cấp bản tóm tắt mạnh mẽ cho tổng quan cấp cao. Phương pháp tiếp
              cận lặp đi lặp lại để Chiến lược doanh nghiệp thúc đẩy tư duy hợp tác để thúc đẩy đề xuất giá trị tổng
              thể. Hữu cơ Phát triển thế giới quan toàn diện về đổi mới đột phá thông qua sự đa dạng và trao quyền tại
              nơi làm việc. Người dùng Nội dung được tạo trong thời gian thực sẽ có nhiều điểm tiếp xúc để gia công.
            </div>
          </div>

          <div class="FAQ-right-toggle">
            <div class="FAQ-right__wrap-title">
              <h6>NHỮNG LỰA CHỌN NÀO TỒN TẠI CHO VIỆC GIAO HÀNG TRỄ, BỊ MẤT HOẶC KHÔNG GIAO HÀNG?</h6>
              <span><i class="fa-regular fa-angle-down"></i></span>
            </div>
            <div class="FAQ-right__content">
              Tận dụng các framework nhanh nhẹn để cung cấp bản tóm tắt mạnh mẽ cho tổng quan cấp cao. Phương pháp tiếp
              cận lặp đi lặp lại để Chiến lược doanh nghiệp thúc đẩy tư duy hợp tác để thúc đẩy đề xuất giá trị tổng
              thể. Hữu cơ Phát triển thế giới quan toàn diện về đổi mới đột phá thông qua sự đa dạng và trao quyền tại
              nơi làm việc. Người dùng Nội dung được tạo trong thời gian thực sẽ có nhiều điểm tiếp xúc để gia công.
            </div>
          </div>

          <div class="FAQ-right-toggle">
            <div class="FAQ-right__wrap-title">
              <h6>THAY ĐỔI ĐỊA CHỈ - NHỮNG ĐIỀU CƠ BẢN</h6>
              <span><i class="fa-regular fa-angle-down"></i></span>
            </div>
            <div class="FAQ-right__content">
              Tận dụng các framework nhanh nhẹn để cung cấp bản tóm tắt mạnh mẽ cho tổng quan cấp cao. Phương pháp tiếp
              cận lặp đi lặp lại để Chiến lược doanh nghiệp thúc đẩy tư duy hợp tác để thúc đẩy đề xuất giá trị tổng
              thể. Hữu cơ Phát triển thế giới quan toàn diện về đổi mới đột phá thông qua sự đa dạng và trao quyền tại
              nơi làm việc. Người dùng Nội dung được tạo trong thời gian thực sẽ có nhiều điểm tiếp xúc để gia công.
            </div>
          </div>

          <div class="FAQ-right-toggle">
            <div class="FAQ-right__wrap-title">
              <h6>PRIORITY MAIL EXPRESS LÀ GÌ?</h6>
              <span><i class="fa-regular fa-angle-down"></i></span>
            </div>
            <div class="FAQ-right__content">
              Tận dụng các framework nhanh nhẹn để cung cấp bản tóm tắt mạnh mẽ cho tổng quan cấp cao. Phương pháp tiếp
              cận lặp đi lặp lại để Chiến lược doanh nghiệp thúc đẩy tư duy hợp tác để thúc đẩy đề xuất giá trị tổng
              thể. Hữu cơ Phát triển thế giới quan toàn diện về đổi mới đột phá thông qua sự đa dạng và trao quyền tại
              nơi làm việc. Người dùng Nội dung được tạo trong thời gian thực sẽ có nhiều điểm tiếp xúc để gia công.
            </div>
          </div>

          <div class="FAQ-right-toggle">
            <div class="FAQ-right__wrap-title">
              <h6>LÀM CÁCH NÀO ĐỂ BIẾT THƯ CỦA TÔI ĐÃ ĐƯỢC GỬI?</h6>
              <span><i class="fa-regular fa-angle-down"></i></span>
            </div>
            <div class="FAQ-right__content">
              Tận dụng các framework nhanh nhẹn để cung cấp bản tóm tắt mạnh mẽ cho tổng quan cấp cao. Phương pháp tiếp
              cận lặp đi lặp lại để Chiến lược doanh nghiệp thúc đẩy tư duy hợp tác để thúc đẩy đề xuất giá trị tổng
              thể. Hữu cơ Phát triển thế giới quan toàn diện về đổi mới đột phá thông qua sự đa dạng và trao quyền tại
              nơi làm việc. Người dùng Nội dung được tạo trong thời gian thực sẽ có nhiều điểm tiếp xúc để gia công.
            </div>
          </div>

          <div class="FAQ-right-toggle">
            <div class="FAQ-right__wrap-title">
              <h6>LÀM THẾ NÀO ĐỂ TÍNH GIÁ GIAO HÀNG TRỌN GÓI CỦA TÔI?</h6>
              <span><i class="fa-regular fa-angle-down"></i></span>
            </div>
            <div class="FAQ-right__content">
              Tận dụng các framework nhanh nhẹn để cung cấp bản tóm tắt mạnh mẽ cho tổng quan cấp cao. Phương pháp tiếp
              cận lặp đi lặp lại để Chiến lược doanh nghiệp thúc đẩy tư duy hợp tác để thúc đẩy đề xuất giá trị tổng
              thể. Hữu cơ Phát triển thế giới quan toàn diện về đổi mới đột phá thông qua sự đa dạng và trao quyền tại
              nơi làm việc. Người dùng Nội dung được tạo trong thời gian thực sẽ có nhiều điểm tiếp xúc để gia công.
            </div>
          </div>

          <div class="h48"></div>

          <div class="FAQ-right-container">
            <div class="FAQ-right-box">
              <div class="FAQ-box__dots"><span>1</span></div>
              <h2 class="FAQ-box__title">Nhận đơn hàng</h2>
              <p class="FAQ-box__description">Tận dụng các framework nhanh nhẹn để cung cấp bản tóm tắt mạnh mẽ </p>
            </div>
            <div class="FAQ-right-box">
              <div class="FAQ-box__dots"><span>2</span></div>
              <h2 class="FAQ-box__title"> Thêm vào DB</h2>
              <p class="FAQ-box__description">Phát triển một cách hữu cơ thế giới quan toàn diện về đổi mới đột phá</p>
            </div>
            <div class="FAQ-right-box">
              <div class="FAQ-box__dots"><span>3</span></div>
              <h2 class="FAQ-box__title">Hàng</h2>
              <p class="FAQ-box__description">Các phương pháp tiếp cận lặp đi lặp lại đối với chiến lược của công ty
              </p>
            </div>
            <div class="FAQ-right-box">
              <div class="FAQ-box__dots"><span>4</span></div>
              <h2 class="FAQ-box__title"> Bì</h2>
              <p class="FAQ-box__description">Các phương pháp tiếp cận lặp đi lặp lại đối với chiến lược của công ty
              </p>
            </div>
            <div class="FAQ-right-box">
              <div class="FAQ-box__dots"><span>5</span></div>
              <h2 class="FAQ-box__title">Tải</h2>
              <p class="FAQ-box__description">Tận dụng các framework nhanh nhẹn để cung cấp bản tóm tắt mạnh mẽ cho cấp
              </p>
            </div>
            <div class="FAQ-right-box">
              <div class="FAQ-box__dots"><span>6</span></div>
              <h2 class="FAQ-box__title"> Phân phối</h2>
              <p class="FAQ-box__description">Tận dụng các framework nhanh nhẹn để cung cấp bản tóm tắt mạnh mẽ cho cấp
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/libs/validator.js"></script>
<script>
  Validator({
    form: '#form-FAQ', formGroupSelector: '.form-group', errorSelector: '.form-message', rules: [
      Validator.isRequired('#name'), Validator.isEmail('#email'), Validator.isRequired('#message'),]
  });
</script>