<section class="error404">
  <div class="error404-inner">
    <h1 class="error404-title">404</h1>
    <p class="error404-subtitle">Không tìm thấy trang</p>
    <p class="error404-description">Không thể tìm thấy trang bạn đang tìm kiếm.</p>
    <a href="./" class="error404-link">Homepage</a>
  </div>
</section>