<section class="orders mt-main mb-main">
  <div class="grid wide">
    <div class="cart-info">
      <table border="1px">
        <thead>
          <tr>
            <th>Hình </th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Tình trạng tồn kho</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a class="cart-link" href="#">
                <img src="/image/products/product1.jpg" alt="" />
              </a>
            </td>
            <td>
              <a class="cart-name" href="#">
                BDK Massage Grip Car Steering Wheel Cover for Car SUV VAN - Two Tone Color, Odorless, Standard Size
              </a>
            </td>
            <td>
              <span class="cart-price">$13.11</span>
            </td>
            <td>
              IN STOCK
            </td>
            <td>
              <button class="btn-order custom-btn btn-3 btn-3--bg-white">
                <span>Add to cart</span>
              </button>
            </td>
            <td>
              <span class="cart-close">
                <i class="fa-solid fa-xmark"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>