<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <ul>
        {{!-- <li class="menu-title">Navigation</li> --}}

        <li class="has_sub">
          <a href="./" class="waves-effect">
            <i class="mdi mdi-view-dashboard"></i>
            <span> Dashboard </span>
          </a>
        </li>

        <li class="has_sub">
          <a class="waves-effect">
            <i class=" mdi mdi-car"></i>
            <span class="menu-arrow"></span>
            <span> Slider </span>
          </a>
          <ul class="list-unstyled">
            <li><a href="/admin/add-order">Thêm Mới</a></li>
            <li><a href="/admin/orders">Danh Sách</a></li>
          </ul>
        </li>

        <li class="has_sub">
          <a class="waves-effect">
            <i class=" mdi mdi-car"></i>
            <span class="menu-arrow"></span>
            <span> Sản Phẩm </span>
          </a>
          <ul class="list-unstyled">
            <li><a href="/admin/add-product">Thêm Mới</a></li>
            <li><a href="/admin/products">Danh Sách</a></li>
          </ul>
        </li>

        <li class="has_sub">
          <a class="waves-effect">
            <i class=" mdi mdi-car"></i>
            <span class="menu-arrow"></span>
            <span> Danh Mục </span>
          </a>
          <ul class="list-unstyled">
            <li><a href="/admin/add-category">Thêm Mới</a></li>
            <li><a href="/admin/categories">Danh Sách</a></li>
          </ul>
        </li>

        <li class="has_sub">
          <a class="waves-effect">
            <i class=" mdi mdi-car"></i>
            <span class="menu-arrow"></span>
            <span> Thương Hiệu </span>
          </a>
          <ul class="list-unstyled">
            <li><a href="/admin/add-brand">Thêm Mới</a></li>
            <li><a href="/admin/brands">Danh Sách</a></li>
          </ul>
        </li>

        <li class="has_sub">
          <a class="waves-effect">
            <i class=" mdi mdi-car"></i>
            <span class="menu-arrow"></span>
            <span> Đơn hàng </span>
          </a>
          <ul class="list-unstyled">
            <li><a href="/admin/add-order">Thêm Mới</a></li>
            <li><a href="/admin/orders">Danh Sách</a></li>
          </ul>
        </li>

        <li>
          <a href="calendar.html" class="waves-effect"><i class="mdi mdi-comment-text-outline"></i><span> Bình Luận
            </span></a>
        </li>
        <li>
          <a href="calendar.html" class="waves-effect"><i class="mdi mdi-chart-arc"></i><span> Thống Kê </span></a>
        </li>

      </ul>
    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>

    <div class="help-box">
      <h5 class="text-muted m-t-0">Để được giúp đỡ ?</h5>
      <p class=""><span class="text-custom">Email:</span> <br /> mobimax@gmail.com</p>
      <p class="m-b-0"><span class="text-custom">Call:</span> <br /> (+123) 123 456 789</p>
    </div>

  </div>
  <!-- Sidebar -left -->

</div>