<div class="grid wide">
  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="./">
          Home
        </a>
      </li>
      <li class="breadcrumb-item">
        <span class="breadcrumb-link">
          Shop
        </span>
      </li>
      <li class="breadcrumb-item">
        <a class="breadcrumb-link" href="">
          Extended Performance Oil Filter, M1C-253A, 1
        </a>
      </li>
    </ul>
  </div>
</div>