<footer class="footer">
  <div class="footer-top pd">
    <div class="grid wide">
      <div class="row">

        <div class="col l-4 m-12 c-12">
          <div class="footer-top__main" style="background-image: url('/image/banners/footer_map-1.jpg');">
            <div class="footer-top__logo">
              <img src="/image/logo-white.png" alt="" />
            </div>
            <div class="footer-top__content">
              <p>We work on market over 20 years. We sale only original auto parts and gained confidence of 320k +
                clients. Buy from MobiMax, join our big community.</p>
              <div class="footer-top__btn">
                <button class="custom-btn custom-btn--bg-yellow btn-3">
                  <span>FIND LOCATIONS</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="col l-8 m-12 c-12">
          <div class="row">

            <div class="col l-4 m-4 c-12">
              <div class="footer-top__box">
                <h3 class="footer-box__title">Customer Services</h3>
                <ul class="footer-box__list">
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                  <li>
                    <a href="#">FAQs</a>
                  </li>
                  <li>
                    <a href="#">Store Locator</a>
                  </li>
                  <li>
                    <a href="#">Delivery information</a>
                  </li>
                  <li>
                    <a href="#">Return & Refunds</a>
                  </li>
                  <li>
                    <a href="#">Product Recall</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col l-4 m-4 c-12">
              <div class="footer-top__box">
                <h3 class="footer-box__title">About us</h3>

                <ul class="footer-box__list">
                  <li>
                    <a href="#">Site map</a>
                  </li>
                  <li>
                    <a href="#">Careers</a>
                  </li>
                  <li>
                    <a href="#">Affiliate</a>
                  </li>
                  <li>
                    <a href="#">News</a>
                  </li>
                  <li>
                    <a href="#">Partners</a>
                  </li>
                  <li>
                    <a href="#">Blog</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col l-4 m-4 c-12">
              <div class="footer-top__box">
                <h3 class="footer-box__title">Contact</h3>

                <ul class="footer-box__contact">
                  <li>
                    <i class="fa-light fa-envelope-open"></i>
                    support@mobimax.com
                  </li>
                  <li>
                    <i class="fa-light fa-phone-flip"></i>
                    123.456.789
                  </li>
                  <li>
                    <i class="fa-light fa-clock"></i>
                    <p>
                      Mon. - Sat.
                      <br />
                      10:00 am - 20:00 pm
                    </p>
                  </li>

                </ul>

                <ul class="footer-box__social">
                  <li>
                    <a href="#">
                      <i class="fa-brands fa-youtube"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-brands fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-brands fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa-brands fa-skype"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="footer-bot">
    <div class="grid wide">
      <div class="footer-bot__content pd">
        <div class="footer-bot__text">MobiMax.com ©1995- 2019 | MobiMax, Inc. All Rights Reserved.</div>
        <img class="footer-bot__payment" src="/image/payment.jpg" alt="payment" />
      </div>
    </div>
  </div>

</footer>

<a class="back-to-top" href="./#app">
  <i class="fa-regular fa-angle-up"></i>
</a>