<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mobimax</title>
  <!-- Icon -->
  <link rel="stylesheet"
    href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css?fbclid=IwAR27wmKML4cIgqTlEXka_ApPN6zwOgkjQJjVwn5pF-nrM8S7xbGiNDRwJ98" />
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
  <!-- Slick -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" href="/css/grid.css" />
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <script src="/libs/jquery.js"></script>
  <script src="/libs/validator.js"></script>
</head>

<body>
  <div class="app">
    {{! Header }}
    {{>header}}

    {{! Breadcrumb }}
    {{!-- {{>breadcrumb}} --}}
    <div class="content">
      {{! This is where the content will be injected }}
      {{{body}}}
    </div>

    {{! Footer }}
    {{>footer}}
  </div>
  <script src="/js/app.js"></script>
  <script src="/js/others.js"></script>
  <script src="/js/product.js"></script>
  <script src="/js/shop.js"></script>
  <script src="/js/slick.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>

</html>